* {
  box-sizing: border-box;
}

/* FONTS */

@font-face {
  font-family: impact;
  src: url(/Day29-30-Sprint2/memeGen/fonts/impact/impact.ttf);
}

@font-face {
  font-family: roboto;
  src: url(/Day29-30-Sprint2/memeGen/fonts/Roboto/Roboto-Medium.ttf);
}

/* BASE */

html {
  font-family: roboto, sans-serif;
  color: #989898;
}
body {
  margin: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Layout */

/* Componenets */
.main-content {
}

.main-header {
  background-color: #ffffff;
  height: 3.1875rem;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -1px #dbdbdb;
}

.logo-cont {
  width: 10rem;
}

.main-header .main-nav {
  height: 100%;
}
.main-header .main-nav > *:not(:last-child) {
  margin-inline-end: 3.125rem;
}
.main-header .main-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
}
.main-header .main-nav a:hover {
  box-shadow: 0px 1px #ff9826;
}

.main-header .main-nav a:active {
  color: #ff9826;
}

/* Meme Editor */
.main-editor-cont {
  display: flex;
  height: 92vh;
  position: relative;
}

.gallery-btn {
  position: absolute;
  font-family: roboto;
  color: inherit;
  left: 26px;
  top: 24px;
  border: none;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: transparent;
}

.canvas-cont {
  flex-grow: 1.61;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme-canvas {
  border-radius: 10px;
}

.editor-cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 1.875rem 1.875rem 0 1.875rem;
}

.line-ops-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.3125rem;
}

.line-ops-cont h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.line-ops-btns-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-ops-btns-cont button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  color: #727272;
}

.text-ops-cont {
  display: flex;
  flex-direction: column;
}

/* Gallery */

.gallery-cont {
  background-color: #e5e5e5;
}

.gallery-cont .search-bar-cont {
  padding: 1.8125rem 1.25rem;
}

.gallery-cont .search-bar {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 1.25rem;
  color: #989898;
  outline: none;
}

.gallery-cont .search-bar::placeholder {
  border: none;
  font-style: italic;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(210px, 1fr));
  /* grid-auto-rows: 100px; */
  gap: 25px 25px;
  grid-auto-flow: dense;
}

.img-gallery .meme img {
  border-radius: 10px;
}

.img-gallery .meme {
  cursor: pointer;
}

/* Helpers */

.hidden {
  display: none;
}
/* flex helpers */
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.full-height {
  height: 100%;
}

/* List helpers */
.clean-list {
  list-style-type: none;
}

/* button helpers */
