* {
  box-sizing: border-box;
}

/* FONTS */

@font-face {
  font-family: impact;
  src: url(/Day29-30-Sprint2/memeGen/fonts/impact/impact.ttf);
}

/* BASE */
body {
  margin: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Layout */
.main-container {
  flex-direction: column;
  height: 100vh;
}

.main-container > * {
  width: 100%;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-header .logo {
  src: url('Day29-30-Sprint2/memeGen/img/LOGO.png');
}

.main-content {
  background-color: whitesmoke;
  width: 100%;
}

/* Header */
/* Logo */
.logo-cont {
  width: 10rem;
}

/* Meme Editor */
.main-editor-cont > * {
  flex-basis: 1;
}

/* Meme Gallery */

.meme-gallery {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  gap: 10px 10px;
}

.meme-gallery .meme {
}

/* Helpers */

/* flex helpers */
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex.full-height {
  height: 100%;
}

/* List helpers */
.clean-list {
  list-style-type: none;
  margin: 0;
}
