* {
  box-sizing: border-box;
}

/* FONTS */

@font-face {
  font-family: roboto;
  src: url(/Day29-30-Sprint2/memeGen/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(/Day29-30-Sprint2/memeGen/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: awesome;
  src: url(/Day29-30-Sprint2/memeGen/fonts/fontawesome/fa-solid-900.ttf);
}

/* BASE */

html {
  font-family: roboto, sans-serif;
  color: #989898;
}
body {
  margin: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #727272;
}

/* Componenets */
.main-content {
}

.main-header {
  background-color: #ffffff;
  height: 3.1875rem;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -1px #dbdbdb;
}

.logo-cont {
  width: 10rem;
}

.main-header .main-nav {
  height: 100%;
}

.mobile-menu-btn {
  z-index: 2;
  color: black;
  display: none;
  font-family: awesome;
}

.main-nav .mobile-nav-line {
  display: none;
}
.main-header .main-nav > *:not(:last-child) {
  margin-inline-end: 3.125rem;
}
.main-header .main-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
}
.main-header .main-nav a:hover {
  box-shadow: 0px 1px #ff9826;
}

.main-header .main-nav a:active {
  color: #ff9826;
}

/* Meme Editor */
.main-editor-cont {
  display: flex;
  height: 92vh;
  position: relative;
}

.gallery-btn {
  position: absolute;
  font-family: roboto;
  color: inherit;
  left: 26px;
  top: 24px;
  border: none;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: transparent;
}

.canvas-align-helper {
  flex-grow: 1.61;
}

.meme-canvas {
  border-radius: 10px;
}

.editor-cont {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 1.875rem 1.875rem 0 1.875rem;
}

/* Line ops container */
.line-ops-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.3125rem;
}

.line-ops-cont h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #727272;
}

.line-ops-btns-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: awesome;
}

.line-ops-btns-cont > * {
  cursor: pointer;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-ops-btns-cont > *:not(:last-child) {
  padding-right: 10px;
}

.line-ops-btns-cont .btn-addLine::after {
  content: '\f0fe';
}
.line-ops-btns-cont .btn-removeLine::after {
  content: '\f2ed';
}
.line-ops-btns-cont .btn-switchLine::after {
  content: '\f362';
  transform: rotate(90deg);
}
.line-ops-btns-cont .btn-decLineY::after {
  content: '\f063';
}
.line-ops-btns-cont .btn-incLineY::after {
  content: '\f062';
}
/* Text ops container */
.text-ops-cont {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
}

.text-ops-btn-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  padding: 0.625rem;
  font-family: awesome;
}

.text-ops-btn-cont > * {
  cursor: pointer;
}

.text-ops-btn-cont .selectFonts {
  border: 1px solid #ebebeb;
  color: #989898;
}

.text-ops-btn-cont .btn-incFont::after {
  content: '\f102';
}
.text-ops-btn-cont .btn-decFont::after {
  content: '\f103';
}
.text-ops-btn-cont .btn-align.left::after {
  content: '\f036';
}
.text-ops-btn-cont .btn-align.center::after {
  content: '\f037';
}
.text-ops-btn-cont .btn-align.right::after {
  content: '\f038';
}

.memeLineInput {
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 1.25rem;
  color: #989898;
  outline: none;
  color: black;
}

.share-btns-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.875rem;
}
.share-btn {
  width: 140px;
  height: 54px;
  background-color: #ff9826;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
}
/* Gallery */

.gallery-cont {
  background-color: #e5e5e5;
  padding: 0 1.25rem;
}

.gallery-cont .search-bar-cont {
  padding: 1.8125rem 0;
}

.gallery-cont .search-bar {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 1.25rem;
  color: #989898;
  outline: none;
}

.gallery-cont .search-bar::placeholder {
  border: none;
  font-style: italic;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(210px, 1fr));
  gap: 25px 25px;
}

.img-gallery .meme img {
  border-radius: 10px;
}

.img-gallery .meme {
  cursor: pointer;
}

/* Helpers */

.hidden {
  display: none;
}
/* flex helpers */
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.center {
  justify-content: center;
}

.flex.align-center {
  align-items: center;
}

.flex.full-height {
  height: 100%;
}

/* List helpers */
.clean-list {
  list-style-type: none;
}

.clean-btn {
  border: none;
  background-color: transparent;
}

@media (max-width: 375px) {
  body .main-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ff9826;
    flex-direction: column;
    z-index: 1;
    color: white;
    padding: 8.125rem;
    font-size: 1.5rem;
    font-family: roboto-light;
    transform: translateX(100%);
    transition: transform 0.4s;
  }

  body.menuOpen .main-nav {
    transform: translateX(0%);
  }

  .mobile-menu-btn {
    display: inline;
  }

  .mobile-menu-btn::after {
    content: '\f0c9';
  }

  body.menuOpen .mobile-menu-btn::after {
    content: '\f00d';
    color: white;
  }

  .main-nav .mobile-nav-line {
    display: inline;
  }

  .main-header .main-nav > *:not(:last-child) {
    margin-inline-end: 0;
  }

  .main-header .main-nav a:active,
  .main-header .main-nav a:hover {
    color: white;
    font-family: roboto;
  }

  .gallery-cont {
    padding: 0 0.625rem;
  }

  .gallery-cont .search-bar-cont {
    padding: 1.5rem 0;
  }

  .img-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.625rem 0.94rem;
  }
  /* mains editor cont */
  .main-editor-cont {
    flex-direction: column;
  }

  .main-editor-cont .gallery-btn {
    display: none;
  }

  .share-btns-cont .share-btn {
    width: 100%;
  }

  .canvas-cont canvas {
    height: 300px;
    border-radius: 0;
  }
}
